.footer{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding: 24px;
    margin-top: 40px;
    margin-bottom: 16px;
    margin-left: 8px;
    margin-right: 8px;
}


.footer div {
    padding: 6px;
    margin-top: 9px;
    
}