.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: white;
    border-bottom: 2px solid rgb(228, 218, 218);
    padding-bottom: 15px;
}


.left-section {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.hamburger-menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 34px;
}

.youtube-logo-icon{
    height: 24px;
}
.middle-section{
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}
.search-bar{
    flex:1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(193, 193, 193);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}

.search-bar::placeholder{
    font-family: Roboto, Arial;
    font-size: 16px;
    flex: 1;
    width: 0;

}

.search-button {
    height: 40px;
    width: 66px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    margin-left: -1px;
    margin-right: 8px;
    background-color: rgb(245, 245, 245);
    transition: transform 600ms;
}

.search-icon{
    height: 25px;
    margin-top: 2px;
    background-color: rgb(245, 245, 245);
}

.voice-search-button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(245, 245, 245);
    margin-left: 12px;
    transition: transform 600ms;
}


.search-button:active,.voice-search-button:active{
    transform: translateY(2px);
    opacity: 0.7;
}

.voice-search-icon{
    height: 24px;
    margin-top: 4px;
    
}

.right-section{
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
}

.upload-icon {
    height: 24px;
}

.youtube-apps-icon {
    height: 24px;
}

.notifications-icon {
    height: 24px;
}


.notifications-icon-container {
    position: relative;
}

.notifications-count{
    position: absolute;
    top: -6px;
    right: -3px;
    background-color:red ;
    color: white;
    font-family: Roboto,Arial;
    font-size: 11px;
    padding: 2px;
    width: 10px;
    border-radius: 10px;
    text-align: center;
}

.current-user-picture{
    height: 24px;
    border-radius: 12px;
}


@media only screen and (max-width:520px) {
    body{
        margin: 0;
        padding: 0;
    }


    .header{
        display: flex;
        flex-direction: column;
        column-gap: 10px;
        row-gap: 10px;
        position:static;
        justify-content: center;
        margin-top: 70px;
        margin-bottom: 20px;
        padding-bottom:50px ;
    }
    
    .left-section{
        display: flex;
        justify-content: space-between;
        width: 385px;      
        padding-bottom: 15px;  

    }

    .right-section{
        width: 200px;
        margin: auto;
        padding-top: 12px;
        padding-bottom: 12px;
    }
}
