
.sidebar {
    position: fixed;
    background-color: white;
    top: 55px;
    left: 0;
    bottom: 0;
    width: 90px;
    padding-left: 8px;
    padding-right: 8px;
    z-index: 200;
}

.sidebar-link{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 12px;
    padding-bottom:12px;
    transition: transform 600ms, opacity 600ms;
}

.sidebar-link:hover{
    background-color: rgb(244, 242, 242);
}


.sidebar-link img {
    width: 40px;
}

.sidebar-link:active{
    transform: translateY(4px);
    opacity: 0.7;
}

.sidebar-link div {
    font-family: Roboto, Arial;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}