  /* Styling the video thumbnails & profile images */

  .video-preview {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 8px;
}

/* .thumbnail-row {
    padding: 12px;
} */

.thumbnail-row{
    position: relative;
}

.thumbnail{
    width: 100%;
}

.video-info-container{
    display: grid;
    grid-template-columns: 40px 1fr;
    column-gap: 20px;
}

.channel-image-container{
    width: 40px;
}

.profile-image{
    width: 40px;
    border-radius: 20px;
}

.description-container{
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    vertical-align: top;
}

.video-title {
    font-size: 1.21em;
    font-weight: 500;
    line-height: 26px;
}

.video-author {
    color: rgb(96, 96, 96);

}

.video-stats{
    color: rgb(96, 96, 96);
    font-size: 12px;
}

.video-time{
    font-family: Roboto,Arial;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 4px;
    background-color: rgb(17, 3, 3);
    color: white;
    position: absolute;
    bottom:8px;
    right: 5px;
    font-family: Roboto, Arial;
    border-radius: 4px;
}